.heading img {
  width: 40px;
  height: 40px;
  margin-top: 5px;
}
.NewArrivals h5 {
  font-weight: bold;
  text-align: center;
}
.NewArrivals span {
  color: #e94560;
  font-size: 15px;
  font-weight: 500;
}
.NewArrivals .box img {
  width: 90%;
  height: 90%;
}

.NewArrivals .box {
  width: 100%;
  height: 100%;
}
